.card{
    border: none;
    box-shadow: 0 2px 3px rgba(212, 212, 212, 0.5);
    cursor: pointer;

}

.card:hover{
    box-shadow: none;
}

.completed{
    background-color: #f3f3f3 !important;
    color: #ccc !important;
}

.completed-text{
    color: #ccc !important;
}
