footer{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.fab{
    width: 60px;
    height: 60px;
    background-color: #2e5ecf;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 1.5em;
    outline: 0; 
}